<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /projects/my-app/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /projects/my-app/index.html [L]
</IfModule>